{% extends "base.html" %}

{% block title %} 人間か判定します。 {% endblock %}

{% block content %} 
<div>
    <h4 class="mt-4 mb-5 border-bottom">動物か人間かを判定します。</h4>
    <p>画像をぶちこみ下のボタンを押してね。</p>
    <form action="{% url 'image:predict' %}" method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="custom-file">
                {{ form.image }}
                <label class="custom-file-label" for="customFile">
                    画像を選択してね。
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-success">本当の姿を確認する</button>
    </form>
</div>
{% endblock %}